body,

html {
	width: 100%;
	height: 100%;
	background: url(background.jpg) no-repeat center center fixed; 
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

}

h2 {
	font-size: 3rem;
	text-align: center;
	color: rgb(231, 231, 231);
	font-family: 'Montserrat', sans-serif;

}

.buffer {
	height: 25rem;		
}

.btn {
	border-radius: 15px!important;
	font-weight: 500!important;
	margin-bottom: 10rem!important;
	margin-top: 15rem!important; 
	text-transform: uppercase;

}

.btn-danger:hover {
	background-color: #F3395A!important;
	transition: transform 1s;
	transform: scale(1.1)!important;
}

.btn-xl {
	padding: 1rem 2rem!important;
}